<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Update</title>
</head>
<body>
    <h3>Edit {{ kitob.nom }}'data.</h3>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label>Nom: </label>
        <input type="text" name="nom" value="{{ kitob.nom }}">
        <br><br>
        <label>Janr: </label>
        <input type="text" name="janr" value="{{ kitob.janr }}">
        <br><br>
        <label>Sahifa: </label>
        <input type="number" name="sahifa" value="{{ kitob.sahifa }}">
        <br><br>
        <label>Muallif: </label>
        <select name="muallif_id">
        <option value="{{ kitob.muallif.id }}">{{ kitob.muallif.ism }}</option>
        {% for m in mualliflar %}
            <option value="{{ m.id }}">{{ m.ism }}</option>
        {% endfor %}
    </select>
    <br><br>
    <button>Update</button>
    </form>
</body>
</html>


<!--janr-->
<!--sahifa-->
<!--muallif-->